# local development files
venv_theatre_alert
obs
.env
.env.local
html_result.html
LLM_result.txt

# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Netlify
.netlify/
