# Virtual environments
sa_venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Netlify
.netlify/